<p id="notice"><%= notice %></p>

<h1>一覧</h1>

<hr>
<h2>物件一覧</h2>

<table>
  <thead>
    <tr>
      <th>物件名</th>
      <th>賃料</th>
      <th>住所</th>
      <th>築年数</th>
      <th>備考</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rents.each do |rent| %>
      <tr>
        <td><%= rent.name %></td>
        <td><%= rent.price %></td>
        <td><%= rent.address %></td>
        <td><%= rent.age%></td>
        <td><%= rent.misc %></td>
        <td><%= link_to '詳細', rent %></td>
        <td><%= link_to '編集', edit_rent_path(rent) %></td>
        <td><%= link_to '削除', rent, method: :delete, data: { confirm: '削除され戻せません、よろしいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規物件登録', new_rent_path %>
