<p id="notice"><%= notice %></p>

<h1>かんらん</h1>
<br>
<p>
  <strong>物件名:</strong>
  <%= @rent.name %>
</p>

<p>
  <strong>賃料:</strong>
  <%= @rent.price %>円
</p>

<p>
  <strong>住所:</strong>
  <%= @rent.address %>
</p>

<p>
  <strong>築年数:</strong>
  <%= @rent.age %>年
</p>

<p>
  <strong>備考:</strong>
  <%= @rent.misc %>
</p>

<hr>


<% n = 0 %>
  <% @stations.each do |f| %>
  <%= "最寄り駅#{n += 1}" %>

  <div class="field">
    <%= "路線名" %>
    <%= f.line %>
  </div>

  <div class="field">
    <%= "駅名" %>
    <%= f.name %>
  </div>

  <div class="field">
    <%= "徒歩数分" %>
    <%= f.distance %>分
  </div>
<% end %>





<%= link_to '編集', edit_rent_path(@rent) %> |
<%= link_to '戻る', rents_path %>
